/* seçiciler sellectors:
1. etiket ile seçme
2. Id ile seçme tek bir öğeye atama yapılacaksa ıd kullanılmaktadır.
3. class ile seçme  birden fazla öğete atama yapılacaksa class kullanılmaktadır
4. evrensel seçiciler
5. torun seçiciler
*/


/* bu kısım SEÇİCİ yardımıyla oluşturulan css tasarımıdır.
h1 yazan yer selecter, mavi yerler attribiute ve renk kısmı ise value'dir
Css tasarımında sıralama yaparken ilk en geniş başlıklara sahip
karakterleri yaz sonrasında ise küçük başlıkları yaz, mesela ilk body
sonrasında h1 etiketi */
body{
    background-color: aqua;
}

h1, h2{
    color: red;
}

h2{
    background-color: chartreuse;
}


/* bu kısım ise etiket yardımıyla oluşturulan css tasarımıdır. 
# işareti id seçici olduğunu göstermektedir. */

#p_bir{
    font-size: 30px;
}

#p_iki{
    coler: red;
}


/* bu kısım ise class yardımıyla oluşturulan css tasarımıdır. */
.kutu{
    width: 230px;
    height: 230px;
    background-color: burlywood;
    margin-bottom: 10px;
}

/* bir etikete ise aynı anda bir kaç tane seçici atanabilmektedir */
.kutu2{
    width: 230px;
    height: 230px;
    margin-bottom: 10px;
}
#kutu2{
    background-color: blueviolet;
}



/* bu kısım ise evrensel seçiciler yardımıyla oluşturulan css tasarımıdır. */
*{
    margin:0;
    padding:0;
}
/* tüm sayfadaki her şeyi seçmek için yıldız kullanılır */

/* Torun seçiciler parent child ilişkisini anlatmaktadır.
Her zaman ıd ve class kullanılmamaktadır o yüzden torun seçiciler*/ 

/* çocuk seçiciler */
ul li a{
    color: red;
}

ul li a em{
    color: black;
}

/* burada ise class seçicisinde daha özelleştirilebilir bir yöntem */
.site li strong{
    color: yellow;
}

/* h2 nin içinden direkt em varsa onu seç bulursa atmaasını yapar kod
yani başka bir etiketin içinde olmayacak*/
h3 strong > em{
    color: salmon;
}

/* bitişik seçiciler */
h3+p{
    font-size: 35px;
    color: pink;
}
/* h3 ten hemen sonra bir p etiketi varsa ona uyguluyor bu etiketi */

/* özellilk seçiciler */
a[title="link_1"]{
    color: red;
}

input[type="text"]{
    color: red;
}


input[type="submit"]{
    color: green;
    width: 300px;
}

/* bu diğer seçicilere aslında hiç gerek yok çünkü class ve id atamayla
zaten işini halledebiliyorsun ama çok fazla class ve id gereksiz
olarak kabul edilmiştir */

input[value="temizle"]{
    background-color: aqua;
    color:coral;
    width:100px;
    height:100px
}

/* sözde sınıflar ve sözde elemanlar */
/* normalde linkler mavi renk olarak gözükmektedir ama 
üstüne tıklayınca başka renk olurlar */

ul li{
    list-style-type: none;
}
a:link{
    text-decoration: none;
}
a:hover{
    color:green;
}
a:visited{
    color:red;
}
a:active{
    color:blueviolet;
}

/* focus() dokununca ona renk değişimi oluyor */
input[type="text"]:focus{
    background-color: yellow;
    border:1px solid red;
}

p::first-letter{
    font-size:36px;

}
p::before{
    content:"ybs"; 
    color: orange;
}

/* öncelik sırası */
li{
    color: blue;
}
.sinif{
    color: yellow;
}
#yeni{
    color:purple !important
}

#yazi{
    color:red;
    line-height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: line-through;
}
#p_1{
    text-indent: 30px;
    text-align: center;
    vertical-align: top;
    line-height: 28px;
    word-spacing: 25px;
    letter-spacing: 25px;
    text-shadow: 2px 2px 20px #990033;
    white-space: normal;
    direction: ltr;
}


html{
    background-color: #0099FF;
}
body{
    background-image: url("../img/2_water1920x1080.jpg");
    min-height: 1200px;
    background-attachment: scroll;
}

div{
    width: 150px;
    height: 150px;
    background-color: red;
}

/* css kutu modeli: margin ve padding. margin dış boşluk anlamına gelir
bir öğenin hemen dışındaki ile olan mesafesi. padding ise iç boşluk anlamına gelir
bir öğenin hemen içindeki diğer öğe ile  */

#kutucuk1{
    background-color: #ccc;
    width: 250px;
    height: 250px;
    margin:30px; 
    /* her tarafında 30 birimlik boşluk oluşturdu */
}
#kutucuk2{
    background-color: purple;
    width: 250px;
    height: 250px;
    margin: 60px;
}#kutucuk3{
    background-color: greenyellow;
    width: 250px;
    height: 250px;
    margin-top: 60px;
    margin-left: 10px;
}
/* divler blok elemanlardır */

input[type="submit"]{
    margin: 40px;
    /* bu ayrıca padding işlemidir üste pading de ekleyebilirdin, kutucuktaki 
    marginin altına */
}

.menu{
    width: 800px;
    height: 50px;
    background-color: #000;
    margin: 0 auto;
    border-bottom: 4px solid red;

}
.menu ul li{
    float:left; 
    /* içerideki öğelerin yan yana gelmesini sağlıyor */
    list-style-type: none;
}
.menu ul li a{
    color: greenyellow;
    font: 14px;
    text-decoration: none;
    display:block;
    padding: 14px 15px;

}

.menu ul li a:hover{
    background: red;
    color: blue;
}












