/* seçiciler sellectors:
1. etiket ile seçme
2. Id ile seçme tek bir öğeye atama yapılacaksa ıd kullanılmaktadır.
3. class ile seçme  birden fazla öğete atama yapılacaksa class kullanılmaktadır
4. evrensel seçiciler
5. torun seçiciler
*/


/* bu kısım SEÇİCİ yardımıyla oluşturulan css tasarımıdır.
h1 yazan yer selecter, mavi yerler attribiute ve renk kısmı ise value'dir
Css tasarımında sıralama yaparken ilk en geniş başlıklara sahip
karakterleri yaz sonrasında ise küçük başlıkları yaz, mesela ilk body
sonrasında h1 etiketi */
body{
    background-color: aqua;
}

h1, h2{
    color: red;
}

h2{
    background-color: chartreuse;
}


/* bu kısım ise etiket yardımıyla oluşturulan css tasarımıdır. 
# işareti id seçici olduğunu göstermektedir. */

#p_bir{
    font-size: 30px;
}

#p_iki{
    coler: red;
}


/* bu kısım ise class yardımıyla oluşturulan css tasarımıdır. */
.kutu{
    width: 230px;
    height: 230px;
    background-color: burlywood;
    margin-bottom: 10px;
}

/* bir etikete ise aynı anda bir kaç tane seçici atanabilmektedir */
.kutu2{
    width: 230px;
    height: 230px;
    margin-bottom: 10px;
}
#kutu2{
    background-color: blueviolet;
}



/* bu kısım ise evrensel seçiciler yardımıyla oluşturulan css tasarımıdır. */
*{
    margin:0;
    padding:0;
}
/* tüm sayfadaki her şeyi seçmek için yıldız kullanılır */

/* Torun seçiciler parent child ilişkisini anlatmaktadır.
Her zaman ıd ve class kullanılmamaktadır o yüzden torun seçiciler*/ 

/* çocuk seçiciler */
ul li a{
    color: red;
}

ul li a em{
    color: black;
}

/* burada ise class seçicisinde daha özelleştirilebilir bir yöntem */
.site li strong{
    color: yellow;
}

/* h2 nin içinden direkt em varsa onu seç bulursa atmaasını yapar kod
yani başka bir etiketin içinde olmayacak*/
h3 strong > em{
    color: salmon;
}

/* bitişik seçiciler */
h3+p{
    font-size: 35px;
    color: pink;
}
/* h3 ten hemen sonra bir p etiketi varsa ona uyguluyor bu etiketi */




a















































