.main-portfolio {
    background-image: url(../img/portfolio-mainbg.jpg);
}

.about-portolio .main-content p {
    color: black;
    font-weight: 600;
}

.header-middle-portfolio li:nth-child(1) a {
    color: white;
    font-size: 16px;
}

.header-middle-portfolio li:nth-child(3) a {
    color: #16b2ba;
    font-size: 16px;
}

.section-portfolio .container {
    text-align: center;
    margin-bottom: 3rem;
}

.section-portfolio .container h2 {
    color: #16b2ba;
    font-size: 30px;
    font-weight: 400;
    margin: 28px 0px;
}

.section-portfolio .container p {
    color: black;
    font-weight: 500;
    line-height: 20px;
}

.section2-portfolio {
    background-image: url(../img/portfolio-section2bg.jpg);
    height: 650px;
}

.section2-portfolio .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
}

.section2-portfolio .container>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.section2-portfolio i {
    font-size: 50px;
    color: #c5cec3;
    opacity: 50%;
}

.section2-portfolio i:hover {
    font-size: 50px;
    opacity: 100%;
}

.section2-portfolio p {
    font-size: 14px;
    color: white;
    width: 500px;
    text-align: center;
    font-weight: 100;
}