.main-about {
    background-image: url(../img/about-mainbg.jpg);
    height: 470px;
}
.header-middle-about li:nth-child(1) a {
    color: white;
    font-size: 16px;
}

.header-middle-about li:nth-child(2) a {
    color: #16b2ba;
    font-size: 16px;
}
.section-about {
    background-color: white;
}

section .about-container {
    text-align: center;
}

section .about-container p {
    color: black;
    margin-bottom: 56px;
}
.about-container h2 {
    padding: 28px 0px;
}
.about-container>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about-container .rows {
    justify-content: center;
    width: 50%;
}
.about-container .rows div {
    height: 300px;
    width: 50%;
    flex-direction: row;
    border-radius: 50%;
    box-sizing: border-box;
}
.about-container .column-1-2 {
    background-image: url(../img/about-section1-member1.png);
}

.about-container .column-1-2 div,
.about-container .column-2-2 div,
.about-container .column-1-2-2 div,
.about-container .column-2-2-2 div {
    position: relative;
    top: 105%;
    display: flex;
    flex-direction: column;
}

.about-container .column-1-2 div h2,
.about-container .column-2-2 div h2,
.about-container .column-1-2-2 div h2,
.about-container .column-2-2-2 div h2 {
    font-size: 16px;
    color: black;
    width: 100px;
}

.about-container .column-1-2 div p,
.about-container .column-2-2 div p,
.about-container .column-1-2-2 div p,
.about-container .column-2-2-2 div p {
    display: block;
    color: #11b7b1;
}

.about-container .column-2-2 {
    background-image: url(../img/about-section1-member2.png);
}

.about-container .column-1-2-2 {
    background-image: url(../img/about-section1-member3.png);
}

.about-container .column-2-2-2 {
    background-image: url(../img/about-section1-member4.png);
}






.section3-about {
    height: 200px;
    background-image: url(../img/about-section2bg.jpg);
}

.section3-about .container {
    height: 310px;
}

.section3-about h2 {
    padding-top: 56px;
}

.section3-about p {
    margin-top: -38px;
    color: black;
}